/* CSS styles go here */
html{
    background-image: url(../Images/p\ back.jpg);
    background-size: cover;
    
} 
.back-image {
  background-color: ;
  /* border-radius: 20px; */
}
header{
    background-color: rgb(229, 229, 178);
    /* border-radius: 75px; */
    /* border:solid 2px; */

}
.c-image {
  display: grid;
}
 table {
  display: flex;
  align-items: center;
 }
.grid{

}

 .wrapper{
    max-width: 1200px;
    margin: 0 auto;
    
} 

h1, h3{
    text-align: center;
}
 
.navbar ul li{
    font-size: 20px;
    margin: 5%;
}
   
.navbar ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
 }
    
    
li a {
    color: black;
    text-decoration: none;
}

/* Middle Section */
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px; /* Set the gap size you prefer */
}

.container {
  display: flex;
  align-items: flex-start;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.right img {
  width: 100px;
  height: 200px;
}

.left img {
  width: 200px;
  height: 100px;
}

.txt {
  grid-column-start: 2;
  padding-left: 40px;
}

img {
    width: 200px;
    height: 100px;
}

.right img {
    width: 100px;
    height: 200px;
}

.c-btn{
  padding: 10px 10px;
  text-align: center;
  font-size: 10px;
  margin: 6%;
  border-radius: 20px;
  background-color: brown;
  width: 300px;
  max-width: 100%;
}


.footer_nav {
  /* border-radius: 75px; */
}
.footer_nav ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m{
  flex: 1;
}

.m #logo{
  float: left;
}

    
.box{
    /* border-radius: 15px; */
    /* border:solid 2px; */
    background-color: rgb(229, 229, 178);
    
}  













/* desktop version   */
@media screen and (min-width: 760px){


#welcome-image{
    float: right;
    max-width: 100%;
}
.content-image p{
    padding-right: 20px;
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
 }

    
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
  }
  
  .footer_nav ul{
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    justify-content: space-between;
    list-style: none;
    
}
  
  
  
  form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  }
  
